<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="processMsgTask">
            <h2><span jhiTranslate="aiApp.processMsgTask.detail.title">Process Msg Task</span> {{processMsgTask.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aiApp.processMsgTask.deptIdList">Dept Id List</span></dt>
                <dd>
                    <span>{{processMsgTask.deptIdList}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.useridList">Userid List</span></dt>
                <dd>
                    <span>{{processMsgTask.useridList}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.toAllUser">To All User</span></dt>
                <dd>
                    <span>{{processMsgTask.toAllUser}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.msg">Msg</span></dt>
                <dd>
                    <span>{{processMsgTask.msg}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.executeTime">Execute Time</span></dt>
                <dd>
                    <span>{{processMsgTask.executeTime}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.agentId">Agent Id</span></dt>
                <dd>
                    <span>{{processMsgTask.agentId}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'aiApp.DdMessageType.' + processMsgTask.type}}">{{processMsgTask.type}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'aiApp.MessageStatus.' + processMsgTask.status}}">{{processMsgTask.status}}</span>
                </dd>
                <dt><span jhiTranslate="aiApp.processMsgTask.processInstance">Process Instance</span></dt>
                <dd>
                    <div *ngIf="processMsgTask.processInstance">
                        <a [routerLink]="['/process-instance-mp-ai', processMsgTask.processInstance?.id, 'view']">{{processMsgTask.processInstance?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/process-msg-task-mp-ai', processMsgTask.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
