<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-process-msg-task-mp-ai-heading" jhiTranslate="aiApp.processMsgTask.home.createOrEditLabel">Create or edit a Process Msg Task</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.deptIdList" for="field_deptIdList">Dept Id List</label>
                    <input type="text" class="form-control" name="deptIdList" id="field_deptIdList"
                           formControlName="deptIdList"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.useridList" for="field_useridList">Userid List</label>
                    <input type="text" class="form-control" name="useridList" id="field_useridList"
                           formControlName="useridList"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.toAllUser" for="field_toAllUser">To All User</label>
                    <input type="checkbox" class="form-control" name="toAllUser" id="field_toAllUser"
                           formControlName="toAllUser"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.msg" for="field_msg">Msg</label>
                    <input type="text" class="form-control" name="msg" id="field_msg"
                           formControlName="msg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.executeTime" for="field_executeTime">Execute Time</label>
                    <div class="d-flex">
                        <input id="field_executeTime" type="datetime-local" class="form-control" name="executeTime" formControlName="executeTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.agentId" for="field_agentId">Agent Id</label>
                    <input type="number" class="form-control" name="agentId" id="field_agentId"
                           formControlName="agentId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="Voice">{{'aiApp.DdMessageType.Voice' | translate}}</option>
                        <option value="ActionCard">{{'aiApp.DdMessageType.ActionCard' | translate}}</option>
                        <option value="Markdown">{{'aiApp.DdMessageType.Markdown' | translate}}</option>
                        <option value="Oa">{{'aiApp.DdMessageType.Oa' | translate}}</option>
                        <option value="Link">{{'aiApp.DdMessageType.Link' | translate}}</option>
                        <option value="File">{{'aiApp.DdMessageType.File' | translate}}</option>
                        <option value="Text">{{'aiApp.DdMessageType.Text' | translate}}</option>
                        <option value="Image">{{'aiApp.DdMessageType.Image' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="SentSuccessfully">{{'aiApp.MessageStatus.SentSuccessfully' | translate}}</option>
                        <option value="Sending">{{'aiApp.MessageStatus.Sending' | translate}}</option>
                        <option value="NotSentYet">{{'aiApp.MessageStatus.NotSentYet' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aiApp.processMsgTask.processInstance" for="field_processInstance">Process Instance</label>
                    <select class="form-control" id="field_processInstance" name="processInstance" formControlName="processInstance">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="processInstanceOption.id === editForm.get('processInstance').value?.id ? editForm.get('processInstance').value : processInstanceOption" *ngFor="let processInstanceOption of processinstances; trackBy: trackProcessInstanceById">{{processInstanceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
